.emp-container {
    text-align: center;
    background: lightcyan;
    margin: 20px 0px;
    display: inline;
}

.table-header {
    padding-top: 20px;
}

.row {
    display: inline;
    border: 1px solid #333;
    background: lightgray;
    padding: 0px 20px;
}


.employee-list h3 {
    text-align: right;
    padding: 20px;
}

.employee-list h3 a {    
    padding: 10px;
    text-decoration: none;
    background: gray;
    color: white;
}